rule "SSRF" severity="High" {
    sinks {
        sink "HTTP::Client.get" arg=0 {
            sanitizer "URI.parse"
            sanitizer "URI.encode"
        }
        sink "HTTP::Client.post" arg=0 {
            sanitizer "URI.parse"
        }
        sink "HTTP::Client.put" arg=0
        sink "HTTP::Client.patch" arg=0
        sink "HTTP::Client.delete" arg=0
        sink "HTTP::Client.exec" arg=0
        sink "client.get" arg=0 {
            sanitizer "URI.parse"
            sanitizer "URI.encode"
        }
        sink "client.post" arg=0 {
            sanitizer "URI.parse"
        }
        sink "client.put" arg=0
        sink "client.delete" arg=0
        sink "client.exec" arg=0
        sink "http.get" arg=0 {
            sanitizer "URI.parse"
            sanitizer "URI.encode"
        }
        sink "http.post" arg=0 {
            sanitizer "URI.parse"
        }
        sink "http_client.get" arg=0 {
            sanitizer "URI.parse"
            sanitizer "URI.encode"
        }
        sink "conn.get" arg=0 {
            sanitizer "URI.parse"
            sanitizer "URI.encode"
        }
        sink "connection.get" arg=0 {
            sanitizer "URI.parse"
            sanitizer "URI.encode"
        }
        sink "http_client.get" arg=0 {
            sanitizer "URI.parse"
            sanitizer "URI.encode"
        }
        sink "hackney.get" arg=0
        sink "hackney.post" arg=0
        sink "req.get" arg=0
        sink "req.post" arg=0
    }
    sources {
        source "params" field="url"
        source "request" field="body"
        source "user_url"
        source "url"
        source "query"
    }
    message "Potential SSRF via {sink} with user-controlled URL"
}
